img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.carousel{
    position: absolute;
    width: 70%;
    height: 50%;
    left: 150px;
    border-radius: 15px;
}

.MuiCircularProgress-root { 
    left: 550px; 
    position: absolute; 
    top: 100px; 
}

.MuiButtonBase-root{
    position: absolute;
    left: 512px;
    top: 200px;
}

.nextBtn{
    position: absolute;
    left: 280px;
    width: 100px;
    height: 40px;
    background-color: pink;
    border-radius: 6px;
    font-family: math;
    cursor: pointer;
}